---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle="¡Ups! Página no encontrada">
  <div style="text-align: center; padding: 5rem 1rem;">
    <h1 style="font-size: 3rem;">¡Oops! 404</h1>
    <p>Parece que te perdiste en el bosque de los bocetos.</p>
    <a href="/" style="color: #EB82BE; font-weight: bold;">Volver al inicio</a>
  </div>
</BaseLayout>