---
const {titulo, descripcion, imagenUrl} = Astro.props;
const randomAngle = (Math.random() * 8) - 4;
const rotationValue = randomAngle.toFixed(2);
---

<div class="card" style={`--angulo-rotacion: ${rotationValue}deg;`}>
    <img src= {imagenUrl} alt=""/>
    <h2> {titulo} </h2>
    <p> {descripcion} </p>
</div>

<style>
    .card {
        border: 1px solid #ccc;
        padding: 1rem;
        margin: 1rem, 0;
        background-color: #F2F2F2;
        border-radius; 0.5rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        transition: transform 0.2s;
        grid-row: span 10;

        transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1),
                    box-shadow 0.3s ease-out;
        position: relative;
        z-index: 1;     
        opacity: 1;   
    }
    

    .card:hover {
        transform: translateY(-15px) scale(1.03) rotate(var(--angulo-rotacion));

        box-shadow: 0 25px 30px rgba(0,0,0,0.2);
        z-index: 10;
    }

    .card:nth-child(3n) {
        grid-row: span 16;
        background: #f0f0f0;
    }

    .card:nth-child(5n) {
        grid-row: span 12;
    }

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 4px;
    }
</style>