---
import { Image } from 'astro:assets';
const {img} = Astro.props;
---

<div class="divider-container">
    <div class="linea"></div>
    <div class="icon-wrapper">
    <Image src={img} alt="" class="icono" />
    </div>
    <div class="linea"></div>
</div>

<style>

.divider-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 1.2rem;
    margin: 3rem 0;
}

.linea {
    flex: 1;
    height: 2px;
    border-radius: 2px;
    background: linear-gradient(90deg, #43876e, #67b3ec, #f2e86d, #f56ed9)
}

.icono {
    width: 100px;
    height: auto;
    object-fit: contain;
}

@media (max-width: 768px) {
        .icono {
            width: 70px;
        }
        .divider-container {
            gap: 1rem;
            margin: 3rem 0;
        }
}