@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: 'Raleway', cursive;
    color: #2d3436;
    letter-spacing: -0.5px;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    font-weight: 300;
    color: #4a4a4a;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f5;
    color: #18181b;
}




