---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		
	</head>
	<body>
	    
        	<Header />
		<div class="wrapper">
			<slot />
		</div>
        	<Footer />

<!-- SCRIPT PARA COLOREAR ENLACES DE FORMA ALEATORIA -->

	<script>
	const logoColors = ["#43876f", "#67b4ec", "#d4c000", "#f26bd6"];
	const allLinks = document.querySelectorAll("a");

	allLinks.forEach(link => {
		link.addEventListener("mouseenter", () => {
			const randomIndex = Math.floor(Math.random()*logoColors.length);
		link.style.color = logoColors[randomIndex];
		link.style.transition = "color 0.3s ease";
		});

		link.addEventListener("mouseleave", () => {
			link.style.color = "";	
		})
	});
	</script>

	</body>
</html>

<style>
	.wrapper {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 1rem;
		width: 100%;
	}
</style>
